﻿
/*@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);*/


@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/DroidKufi-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/DroidKufi-Bold.ttf) format('truetype');
}




body {
    font-family: 'Droid Arabic Kufi', sans-serif;
    font-weight:700;
    font-size:16px;

    /*line-height:24;*/

}
h1 h2 h3 h4{
    font-family: 'Droid Arabic Kufi', sans-serif;
    text-shadow:1px 1px #8f8f8f;
}
h1{
    font-size:30px;
}

h2{
    font-size:22px;
}

h3{
    font-size:18px;
}

h4{
    font-size:14px;
}
 .carousel {
        margin-bottom: 60px;
    }

        .carousel .container {
            position: relative;
            z-index: 9;
        }

    .carousel-control {
        height: 80px;
        margin-top: 200px;
        font-size: 30px;
        text-shadow: 0 1px 1px rgba(0,0,0,.4);
        background-color: transparent;
        border: 0;
        z-index: 10;
    }

    .carousel .item {
        height: 500px;
    }

    .carousel img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 500px;
    }

    .carousel-caption {
        background-color: transparent;
        position: static;
        max-width: 550px;
        padding: 20px 20px;
        margin-top: 270px;
    }

        .carousel-caption h1,
        .carousel-caption .lead {
            margin: 0;
            
            line-height: 2.25;
            color: #ffd800;
            text-shadow: 0 1px 1px rgba(0,0,0,.4);
        }

        .carousel-caption .btn {
            margin-top: 10px;
        }

