﻿
@model WaterCompanyViewModel.Admin.ProductVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@using (Html.BeginForm("Create", "Product", new { area = "Admin" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <br />
    <br />
    <br />
    @*@<div id="myModalAdd" class="modal fade" role="dialog">*@
    <div class="modal-dialog" style="margin-right:50px;">
    <div class="modal-content" style="width: 1000px;">
        <div class="modal-header">
            @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
            <h4 class="modal-title">تفاصيل المنتجات</h4>
        </div>
        <div class="modal-body" style="width :900px;">
            <div class="panel">
                @*<div class="panel-heading">
                        <span class="panel-title hidden-xs">@ProductRes.Details</span>
                    </div>*@
                <div class="panel-body p25 pb5">
                    <div class="tab-content pn br-n admin-form">
                        <div id="tab1_1" class="tab-pane active">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.HiddenFor(model => model.Id)
                                    <label>  اسم عربى   </label>
                                </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control input-circle" } })
                                </div>
                                <div class="col-md-2">
                                    <label>  الوصف    </label>
                                </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.DescAr, new { htmlAttributes = new { @class = "form-control input-circle" } })
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-2">
                                    <label>  السعر    </label>
                                </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control input-circle" } })
                                </div>
                                <div class="col-md-2">
                                    <label>  قيمه الخصم    </label>
                                </div>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Disscount, new { htmlAttributes = new { @class = "form-control input-circle" } })
                                </div>
                            </div>

                            <br />
                            <div class="row">
                                <div class="col-md-2">
                                    <label>   تاريخ انتهاء الخصم    </label>
                                </div>
                                <div class="col-md-4">
                                    <input type="date" class="form-control  input-circle " id="DisscountEndDate" name="DisscountEndDate" />
                                    @*@Html.EditorFor(model => model.DisscountEndDate, new { htmlAttributes = new { @class = "form-control  input-circle datepicker" } })*@

                                </div>
                                <div class="col-md-2">
                                    <label>  تفاصيل    </label>
                                </div>
                                <div class="col-md-4">
                                    <textarea id="Note" class="form-control input-circle"  name="Note">@Model.Note</textarea>
                                    @*@Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                </div>
                            </div>

                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.TextBox("file", null, new { @id = "input-1700", @type = "file", @class = "file-loading", @accept = "image/*" })
                                        <script>
                                            $("#input-1700").fileinput({
                                                maxFileCount: 1,
                                                allowedFileExtensions: ["jpg", "png", "gif"],
                                                browseLabel: " إضغط لإختيار صورة ..",
                                                browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
                                                browseClass: "btn btn-primary btn-block",
                                                showCaption: false,
                                                showRemove: false,
                                                showUpload: false
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>




                            <br />
                            <div class="row">
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-3">
                                    <input type="button" value="حفظ" class="btn yellow Saveee" onclick="Save()" />
                                    <button type="button" class="btn btn-default" data-dismiss="modal">الغاء</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

}

<script src="~/Areas/Admin/Scripts/Product.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        Product1.init();
    });
</script>

<script>
    $(document).ready(function () {
        $("input[type=text]").addClass("gui-input");


    })
</script>


