﻿
@model WaterCompanyViewModel.Admin.EmployeePostionVM



@using (Html.BeginForm("Create", "EmployeePostion", new { area = "Admin" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @*@<div id="myModalAdd" class="modal fade" role="dialog">*@
    <div class="modal-dialog">
        <div class="modal-content" style="width: 900px;">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title">تفاصيل المنتجات</h4>
            </div>
            <div class="modal-body" style="width :900px;">
                <div class="panel">
                    @*<div class="panel-heading">
                        <span class="panel-title hidden-xs">@ProductRes.Details</span>
                    </div>*@
                    <div class="panel-body p25 pb5">
                        <div class="tab-content pn br-n admin-form">
                            <div id="tab1_1" class="tab-pane active">
                                @Html.HiddenFor(model => model.Id)

                                <div class="row">
                                    <div class="col-md-2">
                                        <label>  الاسم عربى    </label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control input-circle" } })
                                    </div>
                                    <div class="col-md-2">
                                        <label>  الاسم انجليزى    </label>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.NameEn, new { htmlAttributes = new { @class = "form-control input-circle" } })
                                    </div>

                                </div>
                               
                                <br />
                                <div class="row">
                                    <div class="col-md-1">

                                    </div>
                                    <div class="col-md-3">
                                        <input type="button" value="حفظ" class="btn yellow Saveee" onclick="Save()" />
                                        <button type="button" class="btn btn-default" data-dismiss="modal">الغاء</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                        </div>
                    </div>
                    </div>

                    }



<script>
    $(document).ready(function () {
        $("input[type=text]").addClass("gui-input");
    });
</script>


