﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "AcceptInvoice";
    var lat = ViewBag.Lat;
    var lang= ViewBag.lang;
}

<div class="portlet box grey-cascade">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-globe"></i>
            <span style="font-weight:bold;">بحث</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="expand" data-original-title="" title=""></a>
        </div>
    </div>
    <br />
    <br />
    <br />

    <section class="event-map">
        <div class="container">
            <div class="div-Title">
                <h3>
                    الموقع على الخريطه
                </h3>
            </div>
            <div class="mapsection">
                <iframe src="https://maps.google.com/maps?q=@lat,@lang&hl=es;z=14&amp;output=embed" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </section>
    </div>

