﻿@model  WaterCompanyViewModel.Admin.InvoiceFM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<br /><br /><br />

<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/select2.min.js"></script>

<div class="portlet box grey-cascade">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-globe"></i>
            <span style="font-weight:bold;">التفاصيل</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="expand" data-original-title="" title=""></a>
        </div>
    </div>
    <div class="portlet-body">
        <div id="SearchCriteria">
            @using (Html.BeginForm("Create", "Invoice", new { area = "Invoice" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <div class="col-md-1">
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.InvoiceId)
                        <label>التاريخ   </label>
                    </div>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.InvoiceDate, new { htmlAttributes = new { @class = "form-control input-circle datepicker" } })
                    </div>
                    <div class="col-md-1">
                        <label>المندوب   </label>
                    </div>
                    <div class="col-md-3">
                        @*@Html.EditorFor(model => model.DelegateId, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                        @Html.DropDownListFor(x => Model.DelegateId, (List<SelectListItem>)ViewBag.DelegatId, new { @class = "form-control" })
                    </div>
                    <div class="col-md-1">
                        <label>السائق   </label>
                    </div>
                    <div class="col-md-3">
                        @*@Html.EditorFor(model => model.DriverId, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                        @Html.DropDownListFor(x => Model.DriverId, (List<SelectListItem>)ViewBag.DriverId, new { @class = "form-control" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        <label> نوع الفاتوره  </label>
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => Model.TypeId, (List<SelectListItem>)ViewBag.TypeId, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        <label> طريقه الدفع  </label>
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => Model.PaymentId, (List<SelectListItem>)ViewBag.PaymentTypeId, new { @class = "form-control" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-1">
                        <label> تفاصيل  </label>
                    </div>
                    <div class="col-md-11">
                        @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control input-circle" } })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-1">
                        <label>اسم المنتج   </label>
                    </div>
                    <div class="col-md-3">
                        @*@Html.EditorFor(model => model.ProductId, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                        @Html.DropDownListFor(x => Model.ProductId, (List<SelectListItem>)ViewBag.ProductId, new { @class = "form-control" })
                    </div>
                    <div class="col-md-1">
                        <label> السعر  </label>
                    </div>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control input-circle", @readonly = "readonly" } })
                    </div>
                    <div class="col-md-1">
                        <label>الكميه   </label>
                    </div>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control input-circle" } })
                    </div>
                    <div class="col-md-1">
                        <input type="button" value="حفظ" class="btn yellow Saveee" onclick="AddProduct()" />
                    </div>
                    @*<div class="col-md-3">
                            @Html.EditorFor(model => model.Target, new { htmlAttributes = new { @class = "form-control input-circle" } })
                        </div>*@
                </div>
                @*<br />*@
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet light bordered">
                            @*<div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="icon-settings font-dark"></i>
                                        <span class="caption-subject bold uppercase">@GlobalRes.Product</span>
                                    </div>
                                </div>*@
                            <div class="caption">
                                <i class="fa fa-globe"></i>
                                <span style="font-weight:bold;">المنتجات</span>
                            </div>
                            <div class="portlet-body">
                                <div id="SearchResult">
                                    <div id="SearchTableContainerProduct"></div>
                                </div>
                            </div>
                        </div>
                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-3">
                        <input type="button" value="حفظ" class="btn yellow Saveee" onclick="Save()" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">الغاء</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@*<div class="modal fade" id="myModalAddEdit" role="dialog" data-backdrop="static"></div>*@

@section scripts
{
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />
    <script src="~/Scripts/select2.min.js"></script>
    @*<script src="@Url.Content("~/Areas/Invoice/Scripts/manageInvoice.js")"></script>*@
    <script src="~/Areas/Admin/Scripts/Invoice.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            //manageInvoice.init();

            SearchProduct($("#InvoiceId").val());

            $("input[type=text]").addClass("gui-input");

            $("#StartDate").datepicker("setDate", 'yyyy-mm-dd');
            $("#EndDate").datepicker("setDate", 'yyyy-mm-dd');

            // LoadChangeCurruncy();
            $('.datepicker').datepicker({
                dateFormat: 'yy-mm-dd'
            });

            $("#ProductId").change(function () {

                var selectedType = $('#ProductId').val();
                $.ajax({
                    type: "POST",
                    data: { "productId": selectedType },
                    url:"@Url.Action("getProductPrice", "Invoice", new { area = "Admin" })",//"../ManageInvoice/getProductPrice",
                    dataType: 'json',
                    success: function (data) {
                        $('#Price').val(data);
                    }
                });
            });


            $("#ProductId").select2({
                dir: "rtl",
            });
            $("#DelegateId").select2({
                dir: "rtl",
            });
            $("#DriverId").select2({
                dir: "rtl",
            });
        });
    </script>
}