﻿
@model IEnumerable <WaterCompanyViewModel.Admin.ContactUsVM>

@{ 
    Layout = null;
}
<div class="panel">
    <table id="dt_basic" class="table table-striped table-bordered table-hover datatable" width="100%">
        <thead>
            <tr>
                <th>التسلسل</th>
                <th>الاسم </th>
                <th>البريد </th>
                <th>الرساله </th>
                

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Message</td>
              


                @*<td>
                    <div class="btn-group display-inline pull-right text-align-left hidden-tablet">
                        <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-cog fa-lg"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-xs pull-right">
                           
                            <li class="divider"></li>
                            <li class="text-align-center">
                                <a href="javascript:void(0);">الغاء</a>
                            </li>
                        </ul>
                    </div>
                </td>*@

            </tr>
        }
        </tbody>
    </table>
</div>
<script type="text/javascript">
        $(function () {
            $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            } );

</script>

