﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="~/assets/images/favicon_1.ico">

    <title>مصنع نبع طابة</title>

    @*<link href="~/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="~/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="~/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />*@

    <link href="~/plugins/switchery/switchery.min.css" rel="stylesheet" />
    <link href="~/plugins/jquery-circliful/css/jquery.circliful.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/plugins/morris/morris.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="~/Scripts/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />


    @*<link rel="stylesheet" href="/resources/demos/style.css">*@
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <link href="~/assets/css/AR/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/AR/icons.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/AR/style.css" rel="stylesheet" type="text/css">



    <script src="~/assets/js/modernizr.min.js"></script>

    <link href="~/Content/toastr.min.css" rel="stylesheet" />

    <script src="~/Content/bootstrap-fileinput/js/fileinput.min.js"></script>
    <link href="~/Content/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />


</head>


<body class="fixed-left">
    -
    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
                <div class="text-center">
                    <a href="index.html" class="logo"><i class="mdi mdi-radar"></i> <span>مصنع نبع طابة </span></a>
                </div>
            </div>

            <!-- Button mobile view to collapse sidebar menu -->

            <nav class="navbar-custom">

                <ul class="list-inline float-right mb-0">
                    @*@Html.Partial("~/Views/Base/ToggleLanguage.cshtml")*@
                    <li class="list-inline-item notification-list hide-phone">
                        <a class="nav-link waves-light waves-effect" href="#" id="btn-fullscreen">
                            <i class="mdi mdi-crop-free noti-icon"></i>
                        </a>
                    </li>

                    <li class="list-inline-item notification-list">
                        <a class="nav-link right-bar-toggle waves-light waves-effect" href="#">
                            <i class="mdi mdi-dots-horizontal noti-icon"></i>
                        </a>
                    </li>


                    <li class="list-inline-item dropdown notification-list">
                        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <img src="~/assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
                            @Html.Partial("_LoginPartial")

                        </div>
                    </li>

                </ul>

                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left waves-light waves-effect">
                            <i class="mdi mdi-menu"></i>
                        </button>
                    </li>
                    @*<li class="hide-phone app-search">
                            <form role="search" class="">
                                <input type="text" placeholder="Search..." class="form-control">
                                <a href=""><i class="fa fa-search"></i></a>
                            </form>
                        </li>*@
                </ul>

            </nav>

        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->

        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">
                <!--- Divider -->
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
            <div id="sidebar-menu">
                <ul>
                    <li>
                        <a href="@Url.Action("index", "Home" , new { area="" })" class="waves-effect waves-primary">
                            <i class="ti-infinite"></i><span> الرئسية</span><span class="badge badge-pink pull-right">1</span>
                        </a>
                    </li>

                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect waves-primary">
                            <i class="ti-paint-bucket"></i> <span> الاعدادات </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="list-unstyled">
                            <li>
                                <a href="@Url.Action("index", "Condtions", new { area = "Admin" })" class="waves-effect waves-primary"><i class="ti-menu-alt"></i><span> شروط التطبيق </span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("index", "AboutUs", new { area = "Admin" })" class="waves-effect waves-primary"><i class="ti-menu-alt"></i><span>نبذا عن التطبيق </span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("index", "ContactUs", new { area = "Admin" })" class="waves-effect waves-primary"><i class="ti-menu-alt"></i><span>الرسائل القادمه </span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("index", "Region" , new { area="Admin" })" class="waves-effect waves-primary">
                                    <i class="ti-home"></i><span> المناطق  </span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("index", "Cars", new { area = "Admin" })" class="waves-effect waves-primary"><i class="ti-menu-alt"></i><span> السيارات </span></a>


                            </li>


                            <li>
                                <a href="@Url.Action("index", "EmployeePostion", new { area = "Admin" })" class="waves-effect waves-primary"><i class="ti-menu-alt"></i><span> المناصب </span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("index", "Driver", new { area = "Admin" })" class="waves-effect waves-primary"><i class="ti-menu-alt"></i><span> السائقين </span></a>
                            </li>

                        </ul>
                    </li>


                    <li>
                        <a href="@Url.Action("index", "Delegate" , new { area="Admin" })" class="waves-effect waves-primary">
                            <i class="ti-infinite"></i><span> المندوبين</span><span class="badge badge-pink pull-right">1</span>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("index", "Customers" , new { area="Admin" })" class="waves-effect waves-primary">
                            <i class="ti-spray"></i>
                            <span> العملاء </span> <span class="menu-arrow"></span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("index", "Product" , new { area="Admin" })" class="waves-effect waves-primary">
                            <i class="ti-spray"></i>
                            <span> المنتجات </span> <span class="menu-arrow"></span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("index", "Offers" , new { area="Admin" })" class="waves-effect waves-primary">
                            <i class="ti-spray"></i>
                            <span> العروض </span> <span class="menu-arrow"></span>
                        </a>
                    </li>


                    <li>
                        <a href="@Url.Action("index", "Order", new { area = "Admin" })" class="waves-effect waves-primary">
                            <i class="ti-spray"></i>
                            <span>  الطلبيات </span> <span class="menu-arrow"></span>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Invoice", "Order", new { area = "Admin" })" class="waves-effect waves-primary">
                            <i class="ti-spray"></i>
                            <span> الفواتير </span> <span class="menu-arrow"></span>
                        </a>

                    </li>

                    <li class="has_sub">
                        <a href="@Url.Action("Index", "Employee" , new { area="Admin" })" class="waves-effect waves-primary">
                            <i class="ti-paint-bucket"></i> <span>الموظفين</span>
                            <span class="menu-arrow"></span>
                        </a>
                    </li>




                    <li>
                        <a href="@Url.Action("index", "Agreement", new { area = "Admin" })" class="waves-effect waves-primary"><i class="ti-menu-alt"></i><span> التعاقدات </span></a>
                    </li>






                </ul>

                <div class="clearfix"></div>
            </div>


}

                @if (Request.IsAuthenticated && User.IsInRole("Delegate"))
    {

            <div id="sidebar-menu">
                <ul>
                    <li>
                        <a href="@Url.Action("index", "Home" , new { area="" })" class="waves-effect waves-primary">
                            <i class="ti-infinite"></i><span> الرئسية</span><span class="badge badge-pink pull-right">1</span>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("index", "Product" , new { area="Admin" })" class="waves-effect waves-primary">
                            <i class="ti-spray"></i>
                            <span> المنتجات </span> <span class="menu-arrow"></span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("index", "Offers" , new { area="Admin" })" class="waves-effect waves-primary">
                            <i class="ti-spray"></i>
                            <span> العروض </span> <span class="menu-arrow"></span>
                        </a>
                    </li>


                    <li>
                        <a href="@Url.Action("index", "Order", new { area = "Admin" })" class="waves-effect waves-primary">
                            <i class="ti-spray"></i>
                            <span>  الطلبيات </span> <span class="menu-arrow"></span>
                        </a>
                    </li>

                    @*<li>
                <a href="@Url.Action("Invoice", "Order", new { area = "Admin" })" class="waves-effect waves-primary">
                    <i class="ti-spray"></i>
                    <span> الفواتير </span> <span class="menu-arrow"></span>
                </a>

            </li>*@
                </ul>
            </div>
}
                @if (Request.IsAuthenticated && User.IsInRole("Customer"))
    {

            <div id="sidebar-menu">
                <ul>
                    <li>
                        <a href="@Url.Action("index", "Home" , new { area="" })" class="waves-effect waves-primary">
                            <i class="ti-infinite"></i><span> الرئسية</span><span class="badge badge-pink pull-right">1</span>
                        </a>
                    </li>

                 


                 

                    <li>
                <a href="@Url.Action("Invoice", "Order", new { area = "Admin" })" class="waves-effect waves-primary">
                    <i class="ti-spray"></i>
                    <span> الفواتير </span> <span class="menu-arrow"></span>
                </a>

            </li>
                </ul>
            </div>
}


                <div class="clearfix"></div>
            </div>
            </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">

            <!-- Start content -->
            @RenderBody()
            <!-- end content -->
            @*<footer class="footer">
                    2019 - 2018 © Water <span class="hide-phone">- WaterCompany.com</span>
                </footer>*@

        </div>
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <div class="side-bar right-bar">
            <div class="">
                <ul class="nav nav-tabs tabs-bordered nav-justified">
                    <li class="nav-item">
                        <a href="#home-2" class="nav-link active" data-toggle="tab" aria-expanded="false">
                            Activity
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#messages-2" class="nav-link" data-toggle="tab" aria-expanded="true">
                            Settings
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="home-2">
                        <div class="timeline-2">
                            <div class="time-item">
                                <div class="item-info">
                                    <small class="text-muted">5 minutes ago</small>
                                    <p><strong><a href="#" class="text-info">John Doe</a></strong> Uploaded a photo <strong>"DSC000586.jpg"</strong></p>
                                </div>
                            </div>

                            <div class="time-item">
                                <div class="item-info">
                                    <small class="text-muted">30 minutes ago</small>
                                    <p><a href="" class="text-info">Lorem</a> commented your post.</p>
                                    <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                                </div>
                            </div>

                            <div class="time-item">
                                <div class="item-info">
                                    <small class="text-muted">59 minutes ago</small>
                                    <p><a href="" class="text-info">Jessi</a> attended a meeting with<a href="#" class="text-success">John Doe</a>.</p>
                                    <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                                </div>
                            </div>

                            <div class="time-item">
                                <div class="item-info">
                                    <small class="text-muted">1 hour ago</small>
                                    <p><strong><a href="#" class="text-info">John Doe</a></strong>Uploaded 2 new photos</p>
                                </div>
                            </div>

                            <div class="time-item">
                                <div class="item-info">
                                    <small class="text-muted">3 hours ago</small>
                                    <p><a href="" class="text-info">Lorem</a> commented your post.</p>
                                    <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                                </div>
                            </div>

                            <div class="time-item">
                                <div class="item-info">
                                    <small class="text-muted">5 hours ago</small>
                                    <p><a href="" class="text-info">Jessi</a> attended a meeting with<a href="#" class="text-success">John Doe</a>.</p>
                                    <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane" id="messages-2">

                        <div class="row m-t-20">
                            <div class="col-8">
                                <h5 class="m-0 font-15">Notifications</h5>
                                <p class="text-muted m-b-0"><small>Do you need them?</small></p>
                            </div>
                            <div class="col-4 text-right">
                                <input type="checkbox" checked data-plugin="switchery" data-color="#3bafda" data-size="small" />
                            </div>
                        </div>

                        <div class="row m-t-20">
                            <div class="col-8">
                                <h5 class="m-0 font-15">API Access</h5>
                                <p class="m-b-0 text-muted"><small>Enable/Disable access</small></p>
                            </div>
                            <div class="col-4 text-right">
                                <input type="checkbox" checked data-plugin="switchery" data-color="#3bafda" data-size="small" />
                            </div>
                        </div>

                        <div class="row m-t-20">
                            <div class="col-8">
                                <h5 class="m-0 font-15">Auto Updates</h5>
                                <p class="m-b-0 text-muted"><small>Keep up to date</small></p>
                            </div>
                            <div class="col-4 text-right">
                                <input type="checkbox" checked data-plugin="switchery" data-color="#3bafda" data-size="small" />
                            </div>
                        </div>

                        <div class="row m-t-20">
                            <div class="col-8">
                                <h5 class="m-0 font-15">Online Status</h5>
                                <p class="m-b-0 text-muted"><small>Show your status to all</small></p>
                            </div>
                            <div class="col-4 text-right">
                                <input type="checkbox" checked data-plugin="switchery" data-color="#3bafda" data-size="small" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /Right-bar -->

    </div>

    <script>
        var resizefunc = [];
    </script>


    <!-- Plugins  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    @*<script src="~/assets/js/jquery.min.js"></script>*@



    @*<script src="~/assets/js/jquery.min.js"></script>*@

    <script src="~/assets/js/popper.min.js"></script><!-- Popper for Bootstrap -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/detect.js"></script>
    <script src="~/assets/js/fastclick.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/jquery.blockUI.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/jquery.nicescroll.js"></script>
    <script src="~/assets/js/jquery.scrollTo.min.js"></script>
    <script src="~/plugins/switchery/switchery.min.js"></script>

    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.extention.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
   
    <!-- Required datatable js -->
    @*<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="~/plugins/datatables/dataTables.bootstrap4.min.js"></script>
        <!-- Buttons examples -->
        <script src="~/plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="~/plugins/datatables/buttons.bootstrap4.min.js"></script>
        <script src="~/plugins/datatables/jszip.min.js"></script>
        <script src="~/plugins/datatables/pdfmake.min.js"></script>
        <script src="~/plugins/datatables/vfs_fonts.js"></script>
        <script src="~/plugins/datatables/buttons.html5.min.js"></script>
        <script src="~/plugins/datatables/buttons.print.min.js"></script>
        <script src="~/plugins/datatables/buttons.colVis.min.js"></script>
        <!-- Responsive examples -->
        <script src="~/plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="~/plugins/datatables/responsive.bootstrap4.min.js"></script>*@



    @*-----------------------------------------Start DataTable------------------------------------------------*@

    <link href="~/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Required datatable js -->
    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/assets/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatables/jszip.min.js"></script>
    <script src="~/assets/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/assets/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/assets/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="~/assets/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>
    @*-----------------------------------------End DataTable------------------------------------------------*@

    <script src="~/Scripts/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script src="~/Scripts/bootstrap-fileinput/js/fileinput.min.js"></script>
    <!-- Counter Up  -->
    <script src="~/plugins/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="~/plugins/counterup/jquery.counterup.min.js"></script>

    <!-- circliful Chart -->
    <script src="~/plugins/jquery-circliful/js/jquery.circliful.min.js"></script>
    <script src="~/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>



    <!-- skycons -->
    <script src="~/plugins/skyicons/skycons.min.js" type="text/javascript"></script>

    <!-- Page js  -->
    <script src="~/assets/pages/jquery.dashboard.js"></script>

    <script src="~/plugins/custombox/dist/custombox.min.js"></script>
    <script src="~/plugins/custombox/dist/legacy.min.js"></script>
    <!-- Custom main Js -->
    <script src="~/assets/js/jquery.core.js"></script>
    <script src="~/assets/js/jquery.app.js"></script>


    @RenderSection("scripts", required: false)



    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('.counter').counterUp({
                delay: 100,
                time: 1200
            });
            $('.circliful-chart').circliful();
        });

        // BEGIN SVG WEATHER ICON
        if (typeof Skycons !== 'undefined') {
            var icons = new Skycons(
                { "color": "#3bafda" },
                { "resizeClear": true }
            ),
                list = [
                    "clear-day", "clear-night", "partly-cloudy-day",
                    "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                    "fog"
                ],
                i;

            for (i = list.length; i--;)
                icons.set(list[i], list[i]);
            icons.play();
        };

    </script>


</body>
</html>



