﻿@{
    ViewBag.Title = "Home Page";
}

<section id="content" class="">

    <br /><br /><br /><br />

    <div class="admin-panels fade-onload">

        <div class="topbar-menu row">

            <div class="col-md-3 col-sm-6 col-xs-12">
                <a class="dropmenu-tile " href="@Url.Action("index", "Employee" , new { area="Admin" })">
                    <div class="imagenew">

                        <img src="~/assets/images/iconsnew/usericon.png" width="70" height="70" />

                        <span class="tile-title">
                            الموظفين
                            @*<p class="newsp">Manage accounts and roles</p>*@

                        </span>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <a class="dropmenu-tile " href="@Url.Action("index", "Delegate" , new { area="Admin" })">
                    <div class="imagenew">

                        <img src="~/assets/images/iconsnew/usericon.png" width="70" height="70" />

                        <span class="tile-title">
                            المندوبين
                            @*<p class="newsp">Manage accounts and roles</p>*@

                        </span>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <a class="dropmenu-tile " href="@Url.Action("index", "ManagementCars" , new { area="Admin" })">
                    <div class="imagenew">

                        <img src="~/assets/images/iconsnew/Pos.png" width="70" height="70" />

                        <span class="tile-title">
                            السيارات
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a class="dropmenu-tile " href="@Url.Action("index", "Driver" , new { area="Admin" })">
                    <div class="imagenew">

                        <img src="~/assets/images/iconsnew/Pos.png" width="70" height="70" />

                        <span class="tile-title">
                            السائقين
                        </span>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <a class="dropmenu-tile " href="@Url.Action("index", "Product" , new { area="Admin" })">
                    <div class="imagenew">

                        <img src="~/assets/images/iconsnew/Sim.png" width="70" height="70" />

                        <span class="tile-title">
                            المنتجات
                        </span>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <a class="dropmenu-tile " href="@Url.Action("index", "ManageInvoice", new { area = "Invoice" })">
                    <div class="imagenew">

                        <img src="~/assets/images/iconsnew/paper.png" width="70" height="70" />

                        <span class="tile-title">
                            الفواتير
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a class="dropmenu-tile " href="@Url.Action("index", "ManageAgreement" , new { area="Agreement" })">
                    <div class="imagenew">

                        <img src="~/assets/images/iconsnew/paper.png" width="70" height="70" />

                        <span class="tile-title">
                            التعاقدات
                        </span>
                    </div>
                </a>
            </div>

            @*<div class="col-md-3 col-sm-6 col-xs-12">
                    <a class="dropmenu-tile " href="#">
                        <div class="imagenew">

                            <img src="~/assets/images/iconsnew/Tickets.png" width="70" height="70" />

                            <span class="tile-title">
                                Tickets
                                <p class="newsp">Add & assign Tickets</p>

                            </span>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a class="dropmenu-tile " href="#">
                        <div class="imagenew">

                            <img src="~/assets/images/iconsnew/Withdrae.png" width="70" height="70" />

                            <span class="tile-title">
                                WithDraw

                                <p class="newsp">Add & Withdraw logs</p>
                            </span>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a class="dropmenu-tile " href="#">
                        <div class="imagenew">

                            <img src="~/assets/images/iconsnew/reports.png" width="70" height="70" />

                            <span class="tile-title">
                                Reports

                                <p class="newsp">Discover System Reports </p>
                            </span>
                        </div>
                    </a>
                </div>*@
        </div>




    </div>

</section>